<!-- <footer class="page-footer grey">
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer> -->

<!-- <hr> -->

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ "/assets/js/materialize.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/init.js" | prepend: site.baseurl }}"></script>
<script src="//use.typekit.net/usd4bpe.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="{{ "/assets/js/jquery.eqheight.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".row").eqHeight(".column");
});
</script>