<nav>
  <div class="nav-wrapper light-blue lighten-1">
    {% if page.title %}
      {% if page.id %}
      <a class="brand-logo center">News</a>
      <ul class="left">
        <li><a href="{{ "/" | prepend: site.baseurl }}"><i class="mdi-navigation-apps"></i></a></li>
      </ul>
      {% else %}
      <a class="brand-logo center">{{ page.title }}</a>
      <ul class="left">
        <li><a href="{{ "/" | prepend: site.baseurl }}"><i class="mdi-navigation-apps"></i></a></li>
      </ul>
      {% endif %}
    {% else %}
    <a class="brand-logo center">GEO2010/GEO2020</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="http://geomatics.tudelft.nl">TU Delft MSc Geomatics</a></li>
  </ul>
    {% endif %}
  </div>
</nav>