<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{{ site.description }}">

  <!-- CSS  -->
  <link href="{{ "/assets/css/bulma.min.css" | prepend: site.baseurl }}" type="text/css" rel="stylesheet" />
  <!-- <link href="{{ "/assets/css/mystyles.css" | prepend: site.baseurl }}" type="text/css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">  

</head>
