<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{{ site.description }}">

  <!-- CSS  -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bulma.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/solid.css" />  
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/geo2021.css" />  

</head>
