/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}


html, h1, h2, h3, h4, h5, h6 {
  font-family: "brandon-grotesque",sans-serif;
}

code,
pre {
  font-family: "source-code-pro";
  font-size: 1em;
}

p {
  font-size: 1.2em;
}

ul#markdown-toc > li > a {
  font-size: 1.2em;
  /*padding: 1rem;*/
  background-color: #FFF8CC;
}

a {
  color: #434343;
}

p > a {  
  background-color: #FFF8CC;
}

h4 > a {  
  background-color: #FFF8CC;
}

code {
  padding: .25em .5em;
  color: #bf616a;
  background-color: #f9f9f9;
  /*border-radius: 3px;*/
}
