---
layout: default
---

<section class="hero has-background-{{ page.color }}">
  <div class="hero-body">
    <p class="title has-text-{{ page.color }}-invert">
      <a href="{{ '/' | prepend: site.baseurl}}"><i class="fas fa-arrow-circle-left has-text-{{ page.color }}-invert"></i></a>
      <span class="is-size-1"><i class="fa-solid {{ page.logo }}"></i></span>
      {{ page.title }}
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">  
      {{ content }}
    </div>
  </div>
</section>