---
layout: default
---

<section class="hero has-background-light">
  <div class="hero-body">
    <p class="title has-text-light-invert">
      <a href="{{ '/news' | prepend: site.baseurl}}"><i class="fas fa-arrow-circle-left has-text-light-invert"></i></a>
      <span class="is-size-1"><i class="fa-solid fa-newspaper"></i></span>
      {{page.title}}
    </p>
    <p class="subtitle has-text-light-invert">
      {{ page.date | date: "%b %-d, %Y" }} {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="content">  
      {{ content }}
    </div>
  </div>
</section>

